
@import url(../fonts/et-line-font/style.css);

@font-face {
	font-family: 'font-awesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/flexslider-icon.eot') format('embedded-opentype'),
		 url('../fonts/fontawesome-webfont.woff') format('woff'),
		 url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		 url('../fonts/fontawesome-webfont.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}

*:active, *:hover, *:focus {
    outline: 0;
    outline-offset: 0;
}

*,*:before,*:after{
	/*transition: all 0.5s;*/
}

.wrapper{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.header_sedna{
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}


.menu_sedna{
	background-color: transparent;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9999;
	transition: all 0.4s;
}

.border_block{
	padding-top: 20px;
	display: flex;
	width: 85%;
	margin: 0 7.5%;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100px;
	border-bottom: 1px solid #535660;
	transition: all 0.4s;
}


.fixed{
	border-bottom: none;
	background-color: #232731;
	height: 80px;
	z-index: 9999;
	margin: 0;
	transition: margin 0s, border-bottom 0.4s, background-color 0.4s, height 0.4s, padding 0s;

}

.fixed .border_block{
	border-bottom: none;
	height: 80px;
	padding-top: 0;
	transition: all 0.4s;
}



.block_left{
	/*transition: all 0.4s;*/
	display: flex;
	align-self: center;
}

.block_left ul{
	display: flex; 
	margin: 0;
	/*transition: all .4s;*/
}

.block_left li{
	display: flex;
}


.block_left a{
	align-self: center;
	background-color: transparent;
	text-transform: uppercase;
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 13px;
	line-height: 13px;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	margin-right: 25px;
	transition: all .3s;
}

.block_left a:hover{
	color: #FF5274;
}


.block_right{
	display: flex;
	align-self: center;
}

.form_a{
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	align-self: center;
	margin-left: 30px;
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 13px;
	transition: all .3s;
}

.form_a:hover{
	color: #FF5274;
}

.form_a.batton{
	line-height: 13px;
	border: 2px solid white;
	padding: 10px 40px;
	border-radius: 20px;
	vertical-align: middle;
}

.form_a.batton:hover{
	border-color: #FF5274;
	color: #FF5274;
}

.block_left .form_a{
	margin-left: 0;
}

.block_left .form_a.batton{
	font-size: 13px;
	line-height: 18px;
	padding: 8px 40px;
}


.form_a.hidden{
	display: none;
}






.text_sedna{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.text_sedna h1{
	padding-top: 250px;
	color: #fff;
	font-weight: 500;
	font-size: 60px;
	line-height: 66px;
	font-family: "Open Sans", arial;
	margin-top: 0;
}

.text_sedna p{
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 20px;
	line-height: 29px;
	color: #fff;
	padding-bottom: 100px;
}

.text_sedna button{
	text-transform: uppercase;
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #ff5274;
	padding:13px 40px;
	border: 2px solid #ff5274;
	border-radius: 50px;
	background-color: transparent;
	transition: box-shadow 0.0s, background-color 0.3s, border-color 0.3s, color 0.3s;
}

button:hover{
	background-color: #ff5274;
	color: #fff;
}

button:active{
	box-shadow: inset 0px 11px 15px -15px #000;
}

.text_sedna button.active{
	margin-right: 20px;
	background-color: #ff5274;
	color: #fff;
}

.text_sedna button.active:hover{
	background-color: #D7405D;
	border-color: #D7405D;
}



.arrow_to_down{
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	margin:0 auto;
	margin-top:100px;
	margin-bottom: 40px;
	transform: translateY(0);
	cursor: pointer;
}





.arrow_to_down:before{
	content:"";
	display: block;
	position: absolute;
	border: 3px solid #fff;
	border-radius: 2px 2px 3px 2px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	border-left: 1px;
	border-top: 1px;
	animation-name: move;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#burger_menu {
	background: transparent;
	display: none;
	position: relative;
	cursor:pointer;
	width:25px;
	height:35px;
	z-index: 10001;
}


#burger_menu:active{
	background-color: transparent;
}

.main-item {
	display: block;
	width:35px;
	height:35px;
	position:relative;
}

.line {
	position: absolute;
	height: 3px;
	width: 100%;
	background:white;
	border-radius:10px;
	transition: all 0.32s;
}

.line01 {
	top:19%;
}

.line02 {
	top:49%;
}

.line03 {
	top:79%;
}

.menu.close .line01 {
	transform:rotate(45deg);
	top:49%;
}

.menu.close .line02{
	opacity: 0;
}

.menu.close .line03 {
	transform:rotate(-45deg);
	top:49%;
}







.block_items{
	padding: 100px 0 100px 0;
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
}


.block_items .wrapper{
	display: flex;
	justify-content: center;
	flex-direction: row;
}


.items{
	width: 30%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: relative;
	margin-left: 2%;
	align-content: flex-start;
	flex-wrap: nowrap;
	justify-content: center;
}

.items:nth-of-type(1){
	margin-left: 0;
}

.items i{
	margin-right: 10px;
	position: relative;
	width: 40px;
	height: 50px;
	float: left;
	text-align: center;
	margin-right: 30px;
	font-size: 40px;
	color: #D7405D;
}

.items h5{
	display: block;
	line-height: 16px;
	color: #3d4351;
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 0;
}

.items p{
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 15px;
	color: #1c3653;
	margin: 0 0 0 0;
	display: block;
	line-height: 29px;
}

.content{
	display: flex;
	flex-direction: column;
}




#device_ipad_iphone{
	display: none;
}


.ipad{
	background-color: #F3F4F8;
	position: relative;
	display: flex;
	z-index: 50;
	height: 100%;
	width: 100%;
}


.text_right{
	margin: 100px 0 100px 50%;
	display: flex;
	align-items: flex-start;
	float: right;
	flex-direction: column;
}

.text_right h4{
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: #3d4351;
	margin-top: 0;
	margin-bottom: 10px;
}

.text_right p{
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 15px;
	color: #1c3653;
	margin: 0 0 0 0;
	display: block;
	line-height: 29px;

}

.text_right .items{
	margin-top: 40px;
	float: left;
	display: block;
	width: 100%;
	margin-left: 0;
	border-bottom: 1px solid #E6E9EA;
}

.text_right .items:last-child{
	border-bottom: none;
}






#ipad_img{
	transition: all .8s;
	z-index: 55;
	position: absolute;
	transform: translate(-30%,70%);
	opacity: 0;
	visibility: hidden;
}

#iphone_img{
	transition: all .8s;
	position: absolute;
	z-index: 60;
	transform: translate(100%,120%);
	opacity: 0;
	visibility: hidden;
}

#macbook_img{
	width: 70%;
	height: auto;
	transition: all .8s;
	position: absolute;
	transform: translate(150%,10%);
	z-index: 110;
	opacity: 0;
	visibility: hidden;
}


#macbook_min{
	display: none;
}

.ipad_active{
	z-index: 55;
	position: absolute;
	opacity: 1!important;
	visibility: visible!important;
	transform: translate(-30%,10%)!important;
}

.iphone_active{
	z-index: 60;
	position: absolute;
	opacity: 1!important;
	visibility: visible!important;
	transform: translate(100%,50%)!important;
}

.macbook_active{
	z-index: 60;
	position: absolute;
	opacity: 1!important;
	visibility: visible!important;
	transform: translate(70%,15%)!important;
}




.macbook{
	transition: all 0.5s;
	overflow:  hidden;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 150;
	background-color: #fff;
}


.text_left{
	position: relative;
	margin-top: 100px;
	margin-bottom: 200px;
	width: 40%;
	float: left;
}

.text_left h4{
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: #3d4351;
	margin-top: 0;
	margin-bottom: 10px;
}

.text_left p{
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 15px;
	color: #1c3653;
	margin: 0 0 20px 0;
	display: block;
	line-height: 29px;
}

.text_left button{
	text-transform: uppercase;
	margin: 50px 0 0 0;
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #ff5274;
	padding:8px 40px;
	border: 2px solid #ff5274;
	border-radius: 50px;
	outline: none;
	background-color: transparent;
	transition: box-shadow 0.0s, background-color 0.3s, border-color 0.3s, color 0.3s;
}


.text_left button:hover{
	background-color: #ff5274;
	color: #fff;
}


/*sketch*/
.sketch{
	width: 100%;
	text-align: center;
	background-image: url(../img/polygonal-bg.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
}

.sketch .wrapper{
	display: flex;
	flex-direction: column;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
}

.sketch h1{
	margin-top: 100px;
	font-family: "Open Sans", arial;
	font-size: 40px;
	line-height: 44px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 10px;
}

.sketch sup{
	font-size: 25px;
	color: #F59C52;
}

.sketch p{
	margin-top: 10px;
	font-size: 15px;
	font-family: "Open Sans", arial;
	font-weight: 300;
	color: #858A90;
	line-height: 29px;
}

.sketch button{
	text-transform: uppercase;
	font-family: "Open Sans", arial;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 180px;
	font-size: 13px;
	line-height: 18px;
	color: #ff5274;
	padding:13px 40px;
	border: 2px solid #ff5274;
	border-radius: 50px;
	background-color: transparent;
	transition: box-shadow 0.0s, background-color 0.3s, border-color 0.3s, color 0.3s;
}

.sketch button:hover{
	background-color: #ff5274;
	color: #fff;
}

.img_2{
	display: none;
}

.sketch img{
	position: absolute;
	width: 230px;
	height: 220px;
	top: 74%;
	z-index: 100;
	animation-name: sketch;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



/*fool_text*/

.fool_text{
	display: flex;
	background-color: #F3F4F8;
}

.fool_text .wrapper{
	font-family: "Open Sans", arial;
	width: 90%;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
}

.fool_text h3{
	margin: 180px 0 70px 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	width: 100%;
	color: #3d4351;
}
.fool_text div{
	width: 40%;
	margin-bottom: 50px;
}


.fool_text div:nth-child(2){
	border-right: 1px solid #E6E9EA;
	padding-right: 10%;
}

.fool_text h4{
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #3d4351;
}

.fool_text p{
	font-size: 15px;
	font-weight: 300;
	line-height: 29px;
	color: #1c3653;
}





/*gallery*/

.section_gallery{
	background-color: #F3F4F8;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section_gallery button{
	text-transform: uppercase;
	font-family: "Open Sans", arial;
	font-weight: 400;
	margin:60px 0 120px 0;
	font-size: 13px;
	line-height: 18px;
	color: #ff5274;
	padding:8px 40px;
	border: 2px solid #ff5274;
	border-radius: 50px;
	background-color: transparent;
	transition: box-shadow 0.0s, background-color 0.3s, border-color 0.3s, color 0.3s;
}

.section_gallery button:hover{
	background-color: #ff5274;
	color: #fff;
}
.galarry{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 98%;
	height: 100%;
	margin: 0 auto;
	

}


.wra{
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-right: 30px;
}



.a_titel{
	position: relative;
	font-family: "Open Sans", arial;
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
	color: #ff5274;
	text-decoration: none;
	width: auto;
    margin: auto;
    margin-top: 35px;
}


.a_text{
	font-family: "Open Sans", arial;
	font-weight: 300;
	font-size: 15px;
	line-height: 29px;
	color: #728295;
	text-decoration: none;
	width: auto;
	margin: auto;
	margin-top: 10px;
}

.a_text:hover{
	color: #1c3653;
}

.a_text i{
	margin-left: 5px;
	line-height: 29px;
	font-size: 15px;
}

.hidden_block{
	position: absolute;
	background-color: #181819;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	padding: 4px 8px;
	font-size: 12px;
	font-family: "Open Sans", arial;
	font-weight: 500;
	width: 85px;
	text-align: center;
	top: -250%;
	left: -47%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

.hidden_block.center{
	left: -20%;
}

.hidden_block:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #181819;
	position: absolute;
	left: 45%;
	top: 65%;
	transform: rotate(45deg);
	z-index: -1;
}

.a_titel:hover .hidden_block{
	visibility: visible;
	opacity: 1;
}


.gallery_block{
	display: block;
	background-color: #F3F4F8;
	overflow: hidden;
	position: relative;
    height: 17vw;
}

.wra:last-child{
	margin-right: 0!important;
}


.wallpepar{
	display: block;
	position: absolute;
	background-image: url(../img/blog-img-01.jpg);
	width: 100%;
	height: 100%;
	background-size: 100%;
	transition: all .3s;
	background-repeat: no-repeat;
}

.img_2_gallery{
	background-image: url(../img/blog-img-02.jpg);
}

.img_3{
	background-image: url(../img/blog-img-03.jpg);
}

.wallpepar i{
  	display: block;
  	position: absolute;
  	font-size: 18px;
  	color: white;
  	top: 8%;
  	left: 85%;
  	opacity: 0;
  	transform: scale(1,1);
 }

.wallpepar:hover{
	opacity: 0.5;
    transform: scale(1.1,1.1);
   /*width: 110%;*/
}

.wallpepar:hover i{
	transition: opacity 1s, left .3s, top .3s;
	opacity: 1;
	left: 82%;
	top: 12%;
}


/*slider*/
.slick-slider:focus,
.slick-slider:active{
	outline: none;
}
.section_slider{

	background-image: url(../img/testimonials-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0;
	color: #ffffff;
	font-family: "Open Sans", arial;

}

.section_slider h1{
	font-weight: 300;
	font-style: italic;
	font-size: 40px;
}
.section_slider p{
	margin-top: 50px;
	color: #acb1b4;
	font-weight: 300;
}


.slid{
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.img_slider{
	background-image: url(../img/130.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid white;
}


.slick-dots li button:before{
	background-color: #5C5F6A;
	border-radius: 50%;

}


.slick-dots li.slick-active button:before{
	background-color: transparent;
	border: 2px solid white;
}

.slick-prev:before
{
    font-family: 'font-awesome';
    content: '\f104';
}

[dir='rtl'] .slick-prev:before
{
    font-family: 'font-awesome';
    content: '\f105';
}


.slick-next:before
{
    font-family: 'font-awesome';
    content: '\f105';
}


[dir='rtl'] .slick-next:before
{
    font-family: 'font-awesome';
    content: '\f104';
}

























/*--------------------------Анимации-----------------*/

@keyframes fadeInRight{
	0% {opacity: 0; top: -10%;}
	100% {opacity: 1; top: 5%;}
}

@keyframes move{
	0%{transform: translateY(0) rotate(45deg);}
	65%{transform: translateY(15px) rotate(45deg);}
	100%{transform: translateY(0) rotate(45deg);}
}



@-webkit-keyframes sketch {
	0% { transform: translateY(0); }
	50% { transform: translateY(10px); }
	100% { transform: translateY(0); }
}
@-o-keyframes sketch {
	0% { transform: translateY(0); }
	50% { transform: translateY(10px); }
	100% { transform: translateY(0); }
}
@-moz-keyframes sketch {
	0% { transform: translateY(0); }
	50% { transform: translateY(10px); }
	100% { transform: translateY(0); }
}
@keyframes sketch {
	0% { transform: translateY(0); }
	50% { transform: translateY(10px); }
	100% { transform: translateY(0); }
}